<!doctype html>
<html lang="en" class="<%= @page_class %> wf-loading" data-pin-api="<%= settings.pin[:api] %>" data-pin-publishable-key="<%= settings.pin[:publishable_key] %>">
<head>
  <meta charset="UTF-8">
  <title><%= "#{@page_title} - " if @page_title %>Railscamp XII, Melbourne: 21 — 24th of June</title>
  <link rel="stylesheet" href="/css/screen.css">
  <script src="/js/rc13.js" async></script>
  <% unless @prerender.nil? %>
  <link rel="prerender" href="<%= @prerender %>">
  <% end %>
</head>
<body>
  <%= yield %>
</body>
</html>