<%
  @page_class = "pay"
  @page_title = "Make a payment"
%>

<%= partial :_header_banner %>

<section class="grid" role="main">

  <% if @errors %>
    <%= partial :_rego_errors %>
  <% else %>
    <h1>Make a payment</h1>
    <p>Your Railscamp booking is not yet complete as you haven’t completed payment. Fill out your payment&nbsp;details below to confirm your booking.</p>
    <p>Please note that we only accept Visa and Mastercard.</p>
  <% end %>

  <form method="post">
    <%= partial :_ticket_info %>
    <h2>Personal details</h2>
    <fieldset>
      <label for="name">Name</label>
      <input id="name" name="entrant[name]" required autocompletetype="name" value="<%=h @entrant.name %>" disabled>
    </fieldset>
    <fieldset>
      <label for="email">Email</label>
      <input id="email" name="entrant[email]" type="email" required autocompletetype="email" value="<%=h @entrant.email %>" disabled>
    </fieldset>
    <%= partial :_card_details %>
    <%= partial :_register_button, info: 'This card will be charged $260', action: 'Pay' %>
  </form>

</section>

<%= partial :_payment_sponsorship %>
