<%
  @page_class = "register"
  @page_title = "Register"
%>

<%= partial :_header_banner %>

<section class="grid" role="main">

  <% if @errors %>
    <%= partial :_rego_errors %>
  <% else %>
    <h1>Getting a ticket hasn’t always been easy —</h1>
    <h2>We’re trying something new to help even up the odds</h2>
    <p>This time, instead of first come, first served, we'll be randomly allocating tickets to give everyone an equal chance to attend (whether they're in an NBN area or not.)</p>
    <p>To register, fill your personal and payment details in below. Your details will be stored securely by pin.net.au. Tickets will be randomly allocated, and successful railscampers will be charged at that time and notified.</p>
    <p>If you're unsuccessful, you won't be charged, Pin will conveniently forget your payment details, and we'll email you the bad news.</p>
    <p>You have until <strong>midnight (AEST) on Monday May 21st</strong> to enter the ballot.</p>
  <% end %>

  <form method="post">
    <%= partial :_ticket_info %>
    <%= partial :_personal_details %>
    <%= partial :_tshirt %>
    <%= partial :_card_details %>
    <%= partial :_register_button, info: 'This card will be billed $260 on May 22nd,<br><em>only</em> if you’re successful in the ballot.',
                                   action: 'Enter the ballot' %>
  </form>

</section>

<%= partial :_payment_sponsorship %>