<%
  @page_class = "register"
  @page_title = "Register"
%>

<style>
  form { text-align: left; max-width: 500px; margin: 0 auto; }
  fieldset { margin: 0; padding: 0; border: none; }
  label, input, textarea, div { display: block; }
  label { margin-bottom: 1em; }
  input[type="radio"], input[type="radio"] + label { display: inline; }
  input[type="radio"] + label { margin-left: .5em; }

  .cut .size { display: none; }
  #entrant_tee_cut_male:checked ~ label[for="entrant_tee_size_male"],
    #entrant_tee_cut_male:checked ~ #entrant_tee_size_male { display: block; }
  #entrant_tee_cut_female:checked ~ label[for="entrant_tee_size_female"],
    #entrant_tee_cut_female:checked ~ #entrant_tee_size_female { display: block; }

  .errors { color: #fee; margin: 1em 0; }
</style>

<h1>Register</h1>

<% if @errors %>
  <div class="errors">
    <p>There was an error with your details. Give it another go.</p>
    <ol>
      <% for message in @errors.full_messages %>
        <li><%= message %></li>
      <% end %>
    </ol>
  </div>
<% end %>

<p>Here's a big explanation of the ballot registration process.</p>

<form method="post">
  <fieldset>
    <h2>You</h2>
    <label>Name<input name="entrant[name]" required autocompletetype="name"></label>
    <label>Email<input name="entrant[email]" type="email" required autocompletetype="email"></label>
    <label>Dietary or other requirements<textarea></textarea></label>
  </fieldset>
  <fieldset>
    <h2>Your Tee</h2>
    <div class="cut">
      Cut
      <input name="entrant[tee_cut]" type="radio" value="male" id="entrant_tee_cut_male"><label for="entrant_tee_cut_male">Male</label>
      <input name="entrant[tee_cut]" type="radio" value="male" id="entrant_tee_cut_female"><label for="entrant_tee_cut_female">Female</label>
      <label class="size" for="entrant_tee_size_male">Size</label>
      <select class="size" name="entrant[tee_size_male]" id="entrant_tee_size_male">
        <% for s in male_tee_sizes %><option value="<%= s %>" <%= "selected" if s == tee_size_default %>><%= s %></option><% end %>
      </select>
      <label class="size" for="entrant_tee_size_female">Size</label>
      <select class="size" name="entrant[tee_size_female]" id="entrant_tee_size_female">
        <% for s in female_tee_sizes %><option value="<%= s %>" <%= "selected" if s == tee_size_default %>><%= s %></option><% end %>
      </select>
    </div>
  </fieldset>
  <fieldset>
    <h2>Payment</h2>
    <p>Payment of $123 must be by credit card, but will be only be charged if you win the ballot. You’ll receive an email letting you know if you got a ticket, along with a receipt for your purchase.</p>
    <label>Name on card<input name='entrant[cc_name]' required autocompletetype="cc-name" format="\w+\s\w+" pattern="\w+\s\w+" data-pin="name"></label>
    <label>Credit card number<input type="text" autocompletetype="cc-number" format="\d{16}" pattern="\d{16}" placeholder="4242424242424242" required data-pin="number"></label>
    <label>Expiry (MM/YYYY)<input type="text" autocompletetype="cc-expiry" format="\d{2}/(\d{2}|\d{4})" pattern="\d{2}/(\d{2}|\d{4})" placeholder="01/2020" required data-pin="expiry"></label>
    <label>CVC<input type="text" autocompletetype="cc-csc" placeholder="123" required autocomplete="off" data-pin="cvc"></label>
    <label>Address<input name='entrant[cc_address]' required autocompletetype="street-address" data-pin="address_line1"></label>
    <label>City<input name='entrant[cc_city]' required autocompletetype="city" data-pin="address_city"></label>
    <label>Postcode<input name='entrant[cc_post_code]' required autocompletetype="postal-code" data-pin="address_postcode"></label>
    <label>State<input name='entrant[cc_state]' required autocompletetype="state" data-pin="address_state"></label>
    <label>Country<input name='entrant[cc_country]' required autocompletetype="country-name" data-pin="address_country"></label>
  </fieldset>
  <fieldset>
    <button data-busy-text="Registering...">Register</button>
  </fieldset>
</form>

<p>Payments generously handled by <a href="https://pin.net.au/">Pin Payments</a></p>
